*{
    width: 100%;
}

body{
    background-image: url(./images/sec.png);
    background-repeat: no-repeat;
    background-position: 0px 180px;
    background-size:cover;
}


h1 {
    text-align: center;
    font-size: 70px;
    display: block;
    position: absolute;
    margin-top: 25px;
    font-weight: lighter;
}

#img{
    width: 140px;
    margin-left: 63%;
    display:inline-block;
    position: absolute;
    margin-top: 0px;
}

p {
    text-align: center;
    display:block ;
    position: absolute;
    margin-top: 128px;
    font-size: 23px;
}

#btn{
    border-radius: 3px;
    display: block;
    color:black;
    font-size: 25px;
    text-align: center;
    margin-top: 390px;
    position: absolute;
    border: 3px solid black;
    width: 250px;
    padding: 20px;
    margin-left: 45%;
    text-decoration: none;
}

#dayA{
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 505px;
    font-size: 26px;
    font-style: italic;
    color: black;
    font-family: 'Ysabeau';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: rgb(215, 211, 207);
    opacity: .8;
    width: auto;
  }



#btn:hover{
    background-color: #879ba2;
    border: 3px solid black;
    box-shadow: 0px 0px;
  }


#btn1{
    border-radius: 3px;
    display: block;
    color:black;
    font-size: 25px;
    text-align: center;
    margin-top: 470px;
    position: absolute;
    border: 3px solid black;
    width: 300px;
    padding: 20px;
    margin-left: 44%;
    text-decoration: none;
}

#heal{
    text-align: center;
    display: block;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 720px;
    font-size: 24px;
    font-style: italic;
    color: black;
    font-family: 'Ysabeau';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: rgb(215, 211, 207);
    opacity: .8;
    width: auto;
    padding-left: 6px;
    padding-right: 6px;

}

#btn1:hover{
    background-color: #879ba2;
    border: 3px solid black;
    box-shadow: 0px 0px;
  }

  #btn2{
    border-radius: 3px;
    display: block;
    color:black;
    font-size: 25px;
    text-align: center;
    margin-top: 800px;
    position: absolute;
    border: 3px solid black;
    width: 300px;
    padding: 20px;
    margin-left: 44%;
    text-decoration: none;
    
}

#selfl{
    text-align: center;
    display:block ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 900px;
    font-size: 24px;
    font-style: italic;
    color: #879ba2;
    font-family: 'Ysabeau';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #648b9a;
}

#btn2:hover{
    background-color: #879ba2;
    border: 3px solid black;
    box-shadow: 0px 0px;
  }


