*{
    width: 100%;
    
}

html{
    font-size: 16rem;
}

body{
    background-image: url(./images/sec.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 3400px 1000px;
}


h1 {
    text-align: center;
    font-size: 0.3rem;
    display: block;
    position: fixed;
    margin-top: 25px;
    font-weight: lighter;
}


p {
    text-align: center;
    display: block ;
    position:fixed;
    margin-top: 0.6rem;
    font-size: 0.12rem; 
    width: 100%;
}

#btn{
    border-radius: 3px;
    display: block;
    color:black;
    font-size: 25px;
    text-align: center;
    position:fixed;
    border: 3.5px solid rgb(25, 65, 83);
    width: 1.2rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin:0;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#dayA{
    text-align: center;
    display: block;
    position: fixed;
    font-size: 26px;
    font-style: italic;
    color: rgb(29, 102, 80);
    text-shadow: 1px 2px 3px rgb(42, 129, 143);
    font-family: 'Ysabeau';
    margin:0;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
  }



#btn:hover{
    border: 3px solid black;
    box-shadow: 0px 0px;
  }


#btn1{
    border-radius: 3px;
    display:block;
    color:black;
    font-size: 25px;
    text-align: center;
    position:fixed;
    border: 3.5px solid rgb(25, 65, 83);
    width: 1.2rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}  

#heal{
    text-align: center;
    display: block;
    position:fixed;
    font-size: 24px;
    font-style: italic;
    color: rgb(38, 115, 92);
    text-shadow: 1px 2px 3px rgb(42, 129, 143);
    font-family: 'Ysabeau';
    margin:0;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

#btn1:hover{
    border: 3px solid black;
    box-shadow: 0px 0px;
  }

  #btn2{
    border-radius: 3px;
    display: block;
    color:black;
    font-size: 25px;
    text-align: center;
    position: fixed;
    border: 3.5px solid rgb(25, 65, 83);
    width: 1.2rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin:0;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#selfl{
    text-align: center;
    position: fixed;
    font-size: 24px;
    font-style: italic;
    color: rgb(38, 115, 92);
    text-shadow: 1px 2px 3px rgb(42, 129, 143);
    font-family: 'Ysabeau';
    margin:0;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

#btn2:hover{
    border: 3px solid black;
    box-shadow: 0px 0px;
  }


/* s mobile */
@media only screen and (max-width: 320px){
    body{
        background-size: 500px 475px;
    
    }
    h1{
       top: 3%;
       font-size: 37px;
    }
    p {
        font-size: 16px;
        margin-top: 0.36rem;
        display: flex;
        margin-right: 27px;
        margin-left:27px;
        width: auto;
    }
    #btn{
        width: 0.7rem;
        font-size: 12px;
        top: 44%;
    }
    #btn1{
        width: 0.7rem;
        font-size: 12px;
        top: 64%;
    }
    #btn2{
        width: 0.7rem;
        font-size: 12px;
        top: 84%;
    }
    #dayA{
        font-size: 12px;
        top: 53%;
        width: 1.2rem;
     }
     #heal{
        font-size: 12px;
        top: 74%;
        width: 1.2rem;
     }
     #selfl{
        font-size: 12px;
        top: 92%;
        width: 1.2rem;
     }
}


/* mobile (min-width: 375px) and */
@media only screen and  (min-width: 361px) and (max-width: 600px){
    body{
        background-size: 1000px 490px;
    }
    h1{
       top: 2.5%;
       font-size: 37px;
    }
    p {
        font-size: 17px;
        margin-top: 0.36rem;
        display: flex;
        margin-right: 29px;
        margin-left:29px;
        width: auto;
    }
    #btn{
        width: 0.7rem;
        font-size: 12px;
        top: 44%;
    }
    #btn1{
        width: 0.7rem;
        font-size: 12px;
        top: 64%;
    }
    #btn2{
        width: 0.7rem;
        font-size: 12px;
        top: 84%;
    }
    #dayA{
        font-size: 12px;
        top: 53%;
        width: 1.2rem;
     }
     #heal{
        font-size: 12px;
        top: 74%;
        width: 1.2rem;
     }
     #selfl{
        font-size: 12px;
        top: 92%;
        width: 1.2rem;
     }
}
/*Iphone 13 pro */
@media only screen and  (min-width: 390px) and (max-device-height:927px){
    body{
        background-size: 1000px 480px;
    }
    h1{
       top: 3%;
       font-size: 37px;
    }
    p {
        font-size: 17px;
        margin-top: 0.36rem;
        display: flex;
        margin-right: 29px;
        margin-left:29px;
        width: auto;
    }
    #btn{
        width: 0.7rem;
        font-size: 12px;
        top: 42%;
    }
    #btn1{
        width: 0.7rem;
        font-size: 12px;
        top: 62%;
    }
    #btn2{
        width: 0.7rem;
        font-size: 12px;
        top: 82%;
    }
    #dayA{
        font-size: 12px;
        top: 51%;
        width: 1.2rem;
     }
     #heal{
        font-size: 12px;
        top: 72%;
        width: 1.2rem;
     }
     #selfl{
        font-size: 12px;
        top: 90%;
        width: 1.2rem;
     }
}
/* Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 0.2rem;
        margin-top: 20px;
    }
    body{
        background-size: 1300px 480px;
    }

    p{
        margin-top: 0.40rem;
        margin-left: 6px;
        margin-right: 6px;
        font-size: 16px;
        width: 100%;
       
    }
    #btn {
       width: 0.8rem;
       font-size: 17px;
       top: 38%;
   }

   #btn1 {
      width: 0.8rem;
      font-size: 17px;
      top: 60%;
 }

   #btn2 {
      width: 0.85rem;
      font-size: 17px;
      top: 82%;
 }

   #dayA{
    font-size: 14px;
    top: 49%;
 }

   #heal{
    font-size: 14px;
    top: 71%;
 }

   #selfl{
    font-size: 14px;
    top: 92%;
 }
}




